<div class="vh-100 d-flex flex-column">
    <app-nav></app-nav>
    <app-header class="d-flex justify-content-center align-items-center"></app-header>
</div>

<div class="container">
    <app-section sectionTitle="Experiencia" sectionId="experiences"></app-section>

    <app-section sectionTitle="Educación" sectionId="education"></app-section>

    <app-section sectionTitle="Habilidades" sectionId="skills"></app-section>

    <app-section sectionTitle="Proyectos" sectionId="proyects"></app-section>
</div>
<app-footer></app-footer>

<!-- <app-footer class="container-fluid"></app-footer> -->