<div class="col-md-4 d-flex flex-column position-relative">
  <img class="perfil-img" src="https://via.placeholder.com/200" alt="imagen de perfil" />
  <div class="space"></div>
  <p class="fs-2 text-center pt-3">Nombre</p>
  <p class="fs-4 text-center">Título</p>
</div>
<div class="col-md-8 pt-4">
  <h3 class="h1">Sobre mí</h3>
  <p class="fs-4">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet nesciunt
    perspiciatis tenetur repellat beatae cumque, dignissimos debitis delectus ea
    excepturi, ducimus id asperiores officia nihil quia dolor alias reiciendis
    voluptas!
  </p>
</div>