

:host {
    flex: 1 1 auto;
    /* The above is shorthand for:
 flex-grow: 0,
 flex-shrink: 1,
 flex-basis: auto
 */
 background: no-repeat center center fixed; 
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}

.position-pen-about {
    position: absolute;
    top: 5%;
    right: 2%;
}