<div class="container position-relative">
  <div class="row">
    <div class="col-lg-4">
      <h4 class="fs-2 mb-3">Título</h4>
      <div class="d-flex align-items-center mb-2">
        <p class="fs-4 me-5 pt-2">Nombre institución</p>
        <img class="max-size" src="https://via.placeholder.com/80" alt="logo empresa" />
      </div>
      <p class="fs-4 text-muted">Fecha de inicio y fin</p>
    </div>

    <div class="col-lg-8 pt-3 pe-5">
      <p class="fs-4">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam iste
        adipisci rerum alias voluptas ipsa saepe molestiae necessitatibus, odit
        rem. Qui dignissimos voluptate placeat tempore sed, veniam natus minus
        commodi!
      </p>
    </div>
    <div class="position-absolute buttons-position d-flex flex-column width-fit">
      <fa-icon class="pb-4" [icon]="faPenClip" size="lg"></fa-icon>
      <fa-icon [icon]="faTrash" size="lg"></fa-icon>
    </div>
  </div>
</div>