<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="container-fluid">
    <a routerLink="/lista-portfolio">
      <img src="./assets/APLogo-20-20.png" alt="" />
    </a>

    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
      &#9776;
    </button>

    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse justify-content-end">
      <ul class="navbar-nav">

        <li class="nav-item" *ngIf="isLogged">
          <a class="nav-link btn btn-light ms-2 fs-6 fw-bold btn-custom btn-mb-custom" [routerLink]="currentUserPath"
            (click)="isMenuCollapsed = true">Mi
            portolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-light ms-2 fs-6 fw-bold btn-custom btn-mb-custom" routerLink="/lista-portfolio"
            (click)="isMenuCollapsed = true">Ver
            portfolios</a>
        </li>
        <li class="nav-item" *ngIf="!isLogged">
          <a class="nav-link btn btn-light ms-2 fs-6 fw-bold btn-custom btn-mb-custom" routerLink="/login"
            (click)="isMenuCollapsed = true">Iniciar
            sesión</a>
        </li>
        <li class="nav-item pointer" *ngIf="isLogged">
          <a class="nav-link btn btn-light ms-2 fs-6 fw-bold btn-custom btn-mb-custom" (click)="isMenuCollapsed = true"
            (click)="logout()">Cerrar
            sesión</a>
        </li>
      </ul>
    </div>
  </div>
</nav>